*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    font-family:'Poppins',sans-serif;
    background:#F4F7FB;

}

.layout{

    display:flex;
    min-height:100vh;

}

.content{

    margin-left:260px;
    width:calc(100% - 260px);
    padding:40px;

}
.sidebar{

    position:fixed;

    left:0;
    top:0;

    width:260px;
    height:100vh;

    background:#0F172A;

    color:white;

    padding:30px 20px;

    display:flex;

    flex-direction:column;

    box-shadow:4px 0 15px rgba(0,0,0,.10);

}

.logo{

    text-align:center;

    margin-bottom:45px;

}

.logo img{

    width:90px;

    margin-bottom:10px;

}

.logo h2{

    font-size:34px;

    font-weight:700;

    color:white;

}

.sidebar nav{

    display:flex;

    flex-direction:column;

}

.sidebar nav a{

    color:white;

    text-decoration:none;

    padding:14px 18px;

    margin-bottom:10px;

    border-radius:12px;

    transition:.25s;

    font-size:17px;

}

.sidebar nav a i{

    width:28px;

}

.sidebar nav a:hover{

    background:#1E293B;

    color:#38BDF8;

}

.sidebar nav a.active{

    background:#2563EB;

    color:white;

}
.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.top-actions{
    display:flex;
    align-items:center;
    gap:20px;
}

.notification{
    width:42px;
    height:42px;
    background:#fff;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    cursor:pointer;
}

.notification i{
    font-size:18px;
}

.user-photo{
    width:52px;
    height:52px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid #2F80ED;
}